.ban{
    width: 74%;
    display: block;
    margin: 30px auto;
   
}
.shopcat{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcat-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;

}
.shopcat p span{
font-weight: 600;
}

.shopcategory-products{
    width: 10%;
    margin :20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 30px;
}
.shopcategory-loadamore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width :233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 20px;
    font-weight: 500;
}

